version: "3"

services:
#   reverse-proxy:
#     image: traefik #The official Traefik docker image
#     command: --web --docker.domain=nua.media --logLevelDEBUG  # This log level can also be INFO
#     ports:
#       - "80:80"     #The HTTP port
#       - "8080:8080" #The Web UI (enabled by --api)
#       - "443:443"
#     volumes:
#       - /var/run/docker.sock:/var/run/docker.sock #So that Traefik can listen to the Docker events
#       - $PWD/traefik.toml:/traefik.toml
#     networks:
#       - traefik_webgateway
#     restart:
#       always
  tremage:
    image: 'test-caddy'
    labels:
      - "traefik.backend=tremage"
      - "traefik.frontend.rule=Host:www.tremage.com,tremage.com"
      - "traefik.docker.network=proxy"
      - "traefik.frontend.entryPoints: http,https"
      - "traefik.port=2015"
      - "traefik.port=443"
    volumes:
      - $PWD/Caddyfile:/etc/Caddyfile
      - $PWD/nuaco:/srv
      - $PWD/.caddy:/etc/caddycerts
    environment:
      - CADDYPATH=/etc/caddycerts
      - AWS_ACCESS_KEY_ID=AKIAJ6ALWSVFS5SJM53Q,N1hskRLI
      - AWS_SECRET_ACCESS_KEY=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
      - AWS_REGION=eu-west-1
      - ACME_AGREE=true
    networks:
      - proxy
#
#   c2ostudio:
#     image: 'test-caddy'
#     labels:
#       - "traefik.backend=c2ostudio"
#       - "traefik.frontend.rule=Host:www.c2o.studio,c2o.studio"
#       - "traefik.docker.network=proxy"
#       - "traefik.port=2015"
#       - "traefik.port=443"
#     volumes:
#       - ./Caddyfilec2o:/etc/Caddyfile
#       - ./c2ostudio:/srv
#       - ./.caddy:/etc/caddycerts
#     environment:
#       - CADDYPATH=/etc/caddycerts
#     networks:
#       - traefik_webgateway
#
networks:
  proxy:
    external: true
  internal:
    external: false
